* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  padding: 10px 0 10px 20px;
  border-radius: 10px;
  font-size: 16px;

  &::placeholder {
    color: #666;
  }
}

button {
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #285065;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}
